
<div class="menu">
  <h2>Catálogo de Impuestos y Trámites</h2>
  <ul>
    <li><%= link_to("Catálogo de Impuestos Genéricos", :controller => 'impgens') %></li>
    <li><%= link_to("Catálogo de Impuestos Específicos", :controller => 'impesps') %></li>
    <li><%= link_to("Catálogo de Tipos de Trámites", :controller => 'tramites') %></li>
  </ul>
</div>