html,body,div,h1,h2,h3,h4,h5,h6,p,a,em,img,small,strong,sub,sup,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,textarea,button,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font-family:inherit;margin:0;outline:0;padding:0}

article,figure,footer,header,hgroup,menu,nav,section{display:block}

ul{list-style:none}

body.minimal{background:#fff;padding:10px}

body.minimal #company_header{width:auto;background:#000;color:#fff;margin:-10px -10px 10px -10px;padding:10px;height:auto}

html{font-size:1em;height:100%;overflow-y:scroll}

body{background:#fff;color:#222;font-family:"Helvetica Neue",Arial,Verdana,"Nimbus Sans L",sans-serif;font-size:12px;font-weight:normal;height:100%;line-height:normal;text-rendering:optimizeLegibility}h1,h2,h3,h4,h5{color:#222;font-weight:bold}

h1{font-size:24px;line-height:30px;margin:0 0 14px 0}

h2{font-size:16px;line-height:16px}

h3{font-size:14px;line-height:14px;margin:0 0 7px 0}

a{color:#369;text-decoration:none}

a:hover{text-decoration:underline}

hr{border:0;border-bottom:1px solid #ddd;margin:15px 0}

p{margin-bottom:1em}

header,#main_content,footer{min-width:980px}

.wrapper{margin:0 auto;padding:0 20px;width:940px}

.content-wrapper{margin:0 auto;padding:0 20px;position:relative;width:940px}

.content-wrapper:after{content:".";display:block;height:0;clear:both;visibility:hidden}

#main_content{border:0;margin:0;min-height:400px;padding:0;width:100%;position:relative}

#main_content .wrapper,#main_content .content-wrapper{padding:40px 20px 60px}

#main_content .content-wrapper{line-height:1.6em}

#nav{background:#f36c00;color:#fff;font-size:15px;height:49px;position:relative;width:100%;-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 5px rgba(0,0,0,0.2);box-shadow:0 1px 5px rgba(0,0,0,0.2)}

#nav:before{background:transparent;background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.2)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,0));background:-moz-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,0));background:-o-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,0));background:-ms-linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,0));background:linear-gradient(top, rgba(255,255,255,0.2),rgba(255,255,255,0));content:" ";display:block;height:49px;left:0;min-width:980px;position:absolute;top:0;width:100%;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 1px 0 rgba(255,255,255,0.15),inset 0 -1px 0 rgba(0,0,0,0.15)}

#nav.nav-spring{background:#87af23}

#nav.nav-spring .nav-tabs .current{background:#78a03c}

#nav.nav-green{background:#2d8c0f}

#nav.nav-green .nav-tabs .current{background:#238205}

#nav.nav-legacy{background:#4294ae}

#nav.nav-legacy .nav-tabs .current{background:#32829b}

#nav.nav-blue{background:#0f50a0}

#nav.nav-blue .nav-tabs .current,

#nav.nav-blue .nav-tabs .current:hover{background:#0f468c}

#nav.nav-purple{background:#7d3c91}

#nav.nav-purple .nav-tabs .current,#nav.nav-purple .nav-tabs .current:hover{background:#733782}

#nav.nav-red{background:#d20a00}

#nav.nav-red .nav-tabs .current{background:#b90a00}

#nav.nav-lt-gray{background:#999}

#nav.nav-lt-gray .nav-tabs .current{background:#8c8c8c}

#nav.nav-gray{background:#2f2f2f}

#nav.nav-gray .nav-tabs .current,#nav.nav-gray .nav-tabs .current:hover{background:#202020}

#nav.nav-gray:before{background:transparent;background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0));background:-moz-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0));background:-o-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0));background:-ms-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0));background:linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0));-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15)}

#nav.nav-behance{background:#1496c8}

#nav.nav-behance .nav-tabs .current{background:#0f87b9}

.nav-blue .nav-tabs>li>a:hover,.nav-purple .nav-tabs>li>a:hover,.nav-gray .nav-tabs>li>a:hover{background:rgba(255,255,255,0.1)}

.nav-tabs{margin:0 -12px 0 -15px}

.nav-tabs>li{float:left;position:relative}

.nav-tabs>li>a{border:0 solid transparent;color:#fff;display:inline-block;font-weight:bold;height:48px;line-height:47px;padding:0 15px;text-decoration:none;text-shadow:0 -1px 0 rgba(0,0,0,0.15);-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8}

.nav-tabs>li>a:hover{background:rgba(255,255,255,0.1);background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0.15)));background:-webkit-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.15));background:-moz-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.15));background:-o-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.15));background:-ms-linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.15));background:linear-gradient(top, rgba(255,255,255,0.1),rgba(255,255,255,0.15));filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}

.nav-tabs>li>a:focus{-webkit-box-shadow:0 0 10px rgba(255,255,255,0.8);-moz-box-shadow:0 0 10px rgba(255,255,255,0.8);box-shadow:0 0 10px rgba(255,255,255,0.8)}

.nav-tabs>li>a:active{background:rgba(255,255,255,0.2);-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);box-shadow:inset 0 0 0 rgba(0,0,0,0);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}

.nav-tabs .current,.nav-tabs .current:hover{background:#e66400;-webkit-box-shadow:inset 0 2px 6px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 2px 6px rgba(0,0,0,0.3);box-shadow:inset 0 2px 6px rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}

.nav-tabs .nav-tab-right{float:right}

.nav-tabs .nav-tab-right>a{font-size:13px}

.nav-tabs .nav-home>.ss-icon{font-family:"SSStandard";font-size:17px;line-height:52px;top:0}

.nav-tabs .nav-user>a{padding-right:12px;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}

.nav-tabs .nav-user>a:after{font-size:7px;top:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=75);opacity:0.75}

.nav-tabs .nav-user>a>img{display:inline-block;margin-top:-1px;vertical-align:middle;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);box-shadow:0 1px 1px rgba(0,0,0,0.2)}

.user-information{background:#f4f4f4;background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.05)));background:-webkit-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.05));background:-moz-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.05));background:-o-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.05));background:-ms-linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.05));background:linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,0.05));border-bottom:1px solid #ccc;cursor:text;font-size:16px;margin:-10px -10px 10px;padding:10px 20px 10px 15px;text-shadow:0 1px 0 #fff;white-space:nowrap;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased;-webkit-user-select:auto;-moz-user-select:auto;user-select:auto}

.user-information>strong,.user-information>span{display:block;overflow:hidden;text-overflow:ellipsis}

.user-information>span{color:#888;font-size:13px;font-weight:500;margin-top:1px}

#sub-nav{background:#f8f8f8;border-bottom:1px solid #dadada;font-size:13px;width:100%}

#sub-nav:after{content:".";display:block;height:0;clear:both;visibility:hidden}

#sub-nav a{color:#888;text-decoration:none}

#sub-nav a:hover{color:#555}

#sub-nav a:focus{-webkit-box-shadow:0 0 6px rgba(80,167,238,0.6);-moz-box-shadow:0 0 6px rgba(80,167,238,0.6);box-shadow:0 0 6px rgba(80,167,238,0.6)}

#sub-nav a:active{color:#222;-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);box-shadow:inset 0 0 0 rgba(0,0,0,0)}

#sub-nav a.current{color:#222;cursor:default}

.sub-nav-tabs{margin:0 -15px}

.sub-nav-tabs>li{float:left;position:relative}.sub-nav-tabs>li>a{display:inline-block;font-weight:bold;height:40px;line-height:40px;padding:0 15px;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;font-smoothing:antialiased}

.sub-nav-tabs .current:before{border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #c4c4c4;bottom:0;content:"";height:0;left:50%;margin:0 0 0 -7px;position:absolute;width:0}

.sub-nav-tabs .current:after{border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #fff;bottom:0;content:"";height:0;left:50%;margin:0 0 -1px -7px;position:absolute;width:0}

#container{min-height:100%;height:auto;margin-bottom:-122px}

.footer-space{clear:both;height:122px}

footer{background:#f8f8f8;border-top:1px solid #dadada;clear:both;color:#888;font-size:13px;height:31px;line-height:31px;margin-top:30px;padding:30px 0}

footer .wrapper:after{content:".";display:block;height:0;clear:both;visibility:hidden}

footer .button{margin-left:8px;vertical-align:baseline}

.floatl{float:left}

.floatr{float:right}

.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16{float:left;margin-right:20px}

.last{margin-right:0}

.btn input{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0px;-moz-border-radius:0px;-ms-border-radius:0px;-o-border-radius:0px;border-radius:0px}
.btn-action{background:#ddd;background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #d8d8d8), color-stop(0.6, #fff));background:-moz-linear-gradient(center bottom, #d8d8d8 0%, #fff 60%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e8e8e8');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#e8e8e8')";border:1px solid #bbb;color:#222;cursor:pointer;display:inline-block;font-family:"Helvetica Neue",Arial,Verdana,"Nimbus Sans L",sans-serif;font-size:11px;height:24px;line-height:24px;margin:0 3px 0 0;padding:0px 12px;text-align:center;text-decoration:none;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);box-shadow:inset 0 1px 0 rgba(255,255,255,0.5)}
.btn-action:hover{background:#eaeaea;background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #eaeaea), color-stop(0.5, #fff));background:-moz-linear-gradient(center bottom, #eaeaea 0%, #fff 50%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#eeeeee');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#eeeeee')";text-decoration:none}.btn-action:focus{-webkit-box-shadow:0 0 6px rgba(80,167,238,0.6);-moz-box-shadow:0 0 6px rgba(80,167,238,0.6);box-shadow:0 0 6px rgba(80,167,238,0.6)}
.btn-action:active{background:#e4e4e4 !important;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4e4e4', endColorstr='#e4e4e4') !important;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e4e4e4', endColorstr='#e4e4e4')" !important;-webkit-box-shadow:inset 0 0 0 transparent;-moz-box-shadow:inset 0 0 0 transparent;box-shadow:inset 0 0 0 transparent}
.btn-action.btn-pressed,.btn-action.btn-pressed:hover{background:#d4d4d4;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dddddd', endColorstr='#dddddd');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dddddd', endColorstr='#dddddd')";color:#444;-webkit-box-shadow:inset 0 0 0 transparent;-moz-box-shadow:inset 0 0 0 transparent;box-shadow:inset 0 0 0 transparent}
.btn-action span.btn-add{float:left;font-size:1.1em;font-family:Tahoma;margin-right:5px;margin-top:-1px}.btn-delete{background:#da2828;background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #da2828), color-stop(0.7, #f76363));background:-moz-linear-gradient(center bottom, #da2828 0%, #f76363 70%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ef5252', endColorstr='#da2828');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ef5252', endColorstr='#da2828')";border:1px solid #da2828;color:#fff;font-weight:bold;text-shadow:0 0 2px #da2828;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.25);box-shadow:inset 0 1px 0 rgba(255,255,255,0.25)}
.btn-primary{background:#2e8d11;background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #2e8d11), color-stop(0.7, #72c152));background:-moz-linear-gradient(center bottom, #2e8d11 0%, #72c152 70%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#2e8d11');font-weight:bold;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#2e8d11')";border:1px solid #2e8d11;color:#fff;text-shadow:0 0 2px #2E8D11;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);box-shadow:inset 0 1px 0 rgba(255,255,255,0.3)}
.btn-primary:hover{background:#3ea60b;background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #3ea60b), color-stop(0.7, #72c152));background:-moz-linear-gradient(center bottom, #3ea60b 0%, #72c152 70%) repeat scroll 0 0;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b')"}
.btn-primary:active{background:#3ea60b !important;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3ea60b', endColorstr='#3ea60b') !important;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3ea60b', endColorstr='#3ea60b')" !important;-webkit-box-shadow:inset 0 0 0 transparent;-moz-box-shadow:inset 0 0 0 transparent;box-shadow:inset 0 0 0 transparent}
.btn-primary .btn-submit:focus{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0px 5px #999;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0px 5px #999;box-shadow:inset 0 1px 0 rgba(255,255,255,0.3),0px 0px 5px #999}
#tabla-rayada {
  width: 940px;
  border-collapse: collapse;
  margin: 20px auto 0 auto;
  position: relative;
}
.titulo {
  height: 35px;
  background-color: #ddd;
  border-top:1px solid #d5d5d5;
  border-bottom:15px solid #fff;
  text-align: center;
  font-weight: bold;
}
.lcliente {
  height: 42px;
  background-color: #ddd;
  border-top:1px solid #d5d5d5;
  border-bottom:15px solid #fff;
  text-align: center;
}
#sadi {
  width: 100%;
  height: 40px;
  background-color: #3a3a3a;
}
#sadi h1 {
  color: white;
  padding: 10px 0 20px 30px;
  font-size: 24px;
  font-weight: normal;
}
input.txt {
  color: #00008b;
  background-color: #f8f8f8;
  border: 1px inset #dadada;
  width: 200px;
}
select.txt {
  color: #00008b;
  background-color: #f8f8f8;
  border: 1px inset #dadada;
  width: 202px;
  margin:-1px 0;
}
form p {
  clear: left;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}
form p label {
  float: left;
  width: 30%;
  background-color: #ddd;
  padding-left: 5px;
}
